html {
  box-sizing: border-box;
}

.main-content {
  border: dotted 1px;
}

.main-section {
  border: dotted 1px;
  margin-left: 15%;
}

#navbar {
  border: dotted 1px;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 15%;
}

.nav-link {
  display: block;
  padding: 4%;
  color: black;
  text-decoration: none;
}

