/* ---------- general ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font: inherit; */
} 

body {
  min-height: 100vh;
}

section {
  margin-bottom: 3rem;
}

/* ---------- navbar ---------- */
#navbar {
  border: solid 3px red;
  background-color: lightblue;

  position: fixed;
  z-index: 999;
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
}

  .nav-link {
    display: block;
  }

/* ---------- main content ---------- */
#main-doc {
  border: solid 3px red;
  background-color: lightgreen;

  width: 75%;
  margin-left: 25%;
  
}

/* ---------- media query ---------- */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

/* ---------- main content ---------- */
#main-doc {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 1.5rem;
}

/* ---------- navbar ---------- */
  #navbar {
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    text-align: center;
    position: static;

  }

    .nav-link {
      display: inline;
    }
}
